.ex-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ex-container li { 
    display: inline; 
    position: relative;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
}